	.tabela{
		border: 1px solid gray;
		width: 100%;
		height:100%;
		float:left;
		position:relative;
	}
	
	.linha{	
		width: 100%;
		height:40px;
		margin:auto;
		float:left;
		position:relative;
		
		
	}
	
	.linha_titulo{	
		width: 100%;
		height:20px;
		margin:auto;
		float:left;
		position:relative;
		
		
	}
	
	.coluna{
		border: 1px solid rgb(196, 193, 193);
		width: 16%;
		height:100%;
		float:left;
	}

	.coluna_dobrada{
		border: 1px solid red;
		width: 32%;
		height:100%;
		float:left;
	}

	.coluna_botoes_mosaic{
		border: 0px solid red;
		width: 45%;
		float:left;
	}

	.coluna_menor{
		border: 1px solid gray;
		width: 5%;
		height:100%;
		float:left;
	}
	
	.coluna_botoes{
		border: 0px solid red;
		width: 100%;
		float:left;
		text-align: center;
		
		
		
	}
	
	.coluna_total{
		width: 64%;
		height:100%;
		float:left;
	}
	
	.col_cliente{
		width: 36%;
	}
	
	.form-textarea{
		height:80px;
		width: 90%;
	}
	
	.col_textarea{
		width: 100%;
		
	}
	
	.linha_textarea{
		height:120px;
	}
	
	.titulo{
			text-align: center; 
			vertical-align: middle;
			font-size: 70%;
			width: 100%;
			height:100%;
			text-decoration: underline;
			background-color: black;
			border:0px;
			color:#FFCC00;
	}

	.titulo_menor{
		text-align: center; 
			vertical-align: middle;
			font-size: 55%;
			width: 100%;
			height:100%;
			text-decoration: underline;
			background-color: black;
			border:0px;
			color:#FFCC00;
	}

	.resultado{
		text-align: center; 
		vertical-align: middle;
		margin-top:1%;
		font-size: 65%;
		width: 100%;
		border:0px;
	}
	
	.tit_observa{
			text-align: center; 
			vertical-align: middle;
			font-size: 70%;
			width: 100%;
			text-decoration: underline;
	}
	.placa{
		text-align:right; 
		vertical-align:middle; 
		margin-top:2%; 
		padding-right:2%;
		width: 100%;
		font-size: 90%;
	}
	.listagem{
			text-align: center; 
			vertical-align: middle;
			font-size: 80%;
			width: 100%;
			margin-top: 2%;
			
	}
	
	.msg{
		color:#333; 
		width:100%; 
		text-align:center;
		text-shadow: 0.1em 0.1em #FFCC00;
		
	}

	.formata_celula{
		font-size:75%; 
		border:1px solid rgb(175, 169, 169);
		word-wrap: break-word;
		text-align:center;
		
		white-space: nowrap;
	}

	.ticket{
		border:1px solid rgb(10, 10, 10);
		margin: 2%;
		width: 65%;
	}
 
	.lb_ticket_maior{
		font-size:130%;
		font-weight: bolder;
		vertical-align: text-top;
	}

	.layout_ticket{
		border:0px solid rgb(26, 5, 121);
		margin: 1%;
		width: 130%;
	}

	.td_label{
		text-align: right;
	}

	.tb_titulo{
		text-align: center;
	}

	p{
		font-size: 130%;
	}

	.formata_tab_siscomex{
		font-size:80%; 
		border:0px;
		word-wrap: break-word;
		text-align:center;
		width: 100%;
		background-color: white;
	}

	.td_extrato{
		border:0px solid rgb(241, 16, 129);
		width: 50%;
		text-align: left;
		
	}

	.layout_extrato{
		border:1px solid rgb(88, 88, 88);
		margin: 1%;
		width: 98%;
		text-transform: none;
	}

	#img_extrato{
		width:30%;
	}

	.linha_extrato{
		border:0.5px solid rgb(88, 88, 88);
		width:99%;
		margin-left:0.1%;
		margin-right:0.1%;
	}

	.lb_text_extrato{
		margin-left:2%;
	}

	.table_interno{
		border:0px solid rgb(10, 10, 10);
		width:80%;
		margin-left:10%;
		margin-right:10%;
	}

	.rel_resumido{
		border:0px solid rgb(109, 105, 105);
	}

	.lista_resumido{
		border:1px solid rgb(218, 218, 219);
		width:100%;
	}


	.td_clientes{
		border:0px solid rgb(10, 212, 20);
		width:90%;
	}

	.td_total{
		border:0px solid rgb(10, 212, 20);
		width:10%;
	}

	.campos_menor{
		font-size:90%; 

	}

	#tabela_due{
		font-size:70%; 
		border:0px solid rgb(10, 212, 20);
	}

	.col_folha{
		text-align: center;
	}

	