/* =================================================================== */
/* Yellow #ffcc00
====================================================================== */
h1 > span,
.projectmanager h3,
.projectmanager li a,
.testimonials #quote-carousel h5,
.services-box-item-content:before,
.services-box-item-content h2,
.social-icons ul li a:before,
.info-map-boxes-item:before,
.info-map-boxes-item h1,
.info-map-boxes-item a,
.services-box-item-cover:before,
.services-box-item-cover:after,
#back-top span:before,
.blog .blog-content .blog-excerpt .meta a,
.blog .blog-content .blog-excerpt span i, .blog-page .blog-content  span i,
.blog-post .banner .content .top-text h4 i,
.blog-post .post-author a,
.blog-page .meta a,
.blog-page .sidebar .widget ul li a:hover,
.blog-post .blog-content .comment-reply-link,
.videopromotion a i,
.fact-badges h2 span,
.header-fixed .nav-menu ul.nav-menu-inner li a.current,
span.heart,
.nav-menu-icon.active a, .nav-menu-icon a.active, .nav-menu-icon:hover a, .nav-menu-icon a:hover, .nav-menu ul.nav-menu-inner li.active a, .nav-menu ul.nav-menu-inner li a.active, .nav-menu ul.nav-menu-inner li:hover a, .nav-menu ul.nav-menu-inner li a:hover, .header-fixed .nav-menu ul.nav-menu-inner li a.current, .header-fixed .nav-menu ul.nav-menu-inner li.current a
body.dark .nav-menu-icon.active a, body.dark .nav-menu-icon a.active, body.dark .nav-menu-icon:hover a, body.dark .nav-menu-icon a:hover, body.dark .nav-menu ul.nav-menu-inner li.active a, body.dark .nav-menu ul.nav-menu-inner li a.active, body.dark .nav-menu ul.nav-menu-inner li:hover a, body.dark .nav-menu ul.nav-menu-inner li a:hover, body.dark .header-fixed .nav-menu ul.nav-menu-inner li a.current, body.dark .header-fixed .nav-menu ul.nav-menu-inner li.current a,
.btn-wrapper a {
    color: #ffcc00;
}
.custom-colorRotatingWords,
.team .social-icons ul.social li a:hover,
.team .social-icons ul.social li a:hover:before {
	color: #ffcc00 !important;
}
.custom-button,
.portfolio .nav-pills li:hover,
.portfolio .nav-pills li.active,
#back-top a:hover,
.social-icons ul li a:hover,
.custom-input-label::before,
.testimonials #quote-carousel .carousel-indicators .active,
.custom-form-group  .input-group .input-group-addon,
.submit-form button,
.blog-page ul.pagination li.active a,
.blog-page ul.pagination li.active a:hover,
body.dark.blog-page ul.pagination li.active a,
body.dark.blog-page ul.pagination li.active a:hover,
body.double-diagonal .about::before, 
body.double-diagonal .services::before, 
body.double-diagonal .portfolio::before,
body.double-diagonal .team::before,
body.double-diagonal .blog::before,
body.double-diagonal .contact::before,
body.double-diagonal .logos::before,
.team-member:hover .team-member-caption,
.btn-wrapper a:hover  {
    background-color: #ffcc00;
}
.about-right-side .full-image-container.hovered:before  {
	border-left: 5px solid #ffcc00;
}
.projectmanager blockquote,
#quote-carousel .carousel-indicators .active {
    border-color: #ffcc00;
}
.blog-page ul.pagination li.active a, body.dark.blog-page ul.pagination li.active a  {
	border-color: #ffcc00;
}
.projectmanagerpicture {
    border: 12px solid #ffcc00;
}
.portfolio .nav-pills li {
    border: 2px solid #ffcc00;
}
#back-top a {
    border: 2px solid #ffcc00;
}
.blog-page .banner .content .top-text hr {
	border-top:5px solid #ffcc00;
}
.portfolio .caption h3 {
	border-left: 3px solid #ffcc00;
}
.team-member-caption {
	border-top: 3px solid #000;
}
.social-icons ul.social-icons-team li a {
	border: 2px solid #ffcc00;
}
.social-icons ul li a{
    border: 3px solid #ffcc00;
}
.footer .social-icons ul li a {
    border: 2px solid #ffcc00;
}
.footer {
    border-top: 2px solid #ffcc00;
}
.social-icons ul.social-icons-team li a {
    border: 2px solid #ffcc00;
}
.preloader .loader {
  background: url(../../img/preloaders/preloader-yellow.gif) 50% 50% no-repeat;
}
.btn-wrapper a {
	border: 5px solid #ffcc00;
}
.rtl-version .about-right-side .full-image-container.hovered:before {
	border-right: 5px solid #ffcc00;
	border-left:0;
}
.rtl-version .projectmanager blockquote {
	border-left: none;
    border-right: 5px solid #ffcc00;
}
.rtl-version .portfolio .caption h3 {
	border-right: 3px solid #ffcc00;
}
@media (max-width:767px){
	.social-icons ul li a {
		border: 2px solid #ffcc00;
	}
	.about-right-side .full-image-container.hovered:before  {
		border-top: 5px solid #ffcc00;
		border-left:none;
	}
	.rtl-version .about-right-side .full-image-container.hovered:before {
		border-right:none;
	}
}